<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ABOUT US</title>
  </head>
  <body>
    <h1>{{PageTitle}}</h1>
    <p></p>
    <p1>{{name}}---{{hobbies}} </p1>
    {{> footer}}
  </body>


</html>
