<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home Page</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>{{> header}}</p>
    <p1>{{paragraph}} </p1>


    <p1>{{hobbies}}</p1>
    {{> footer}}
  </body>


</html>
